.Width{width:1200px;margin:0 auto;}
.top{background: #f1f1f1;color: #666;height:30px;font-size: 13px;font-size: 0.8125rem;}
.top a{ text-align:right;display:block;height:30px;line-height:30px;width:80px;float:left;color:#666;}
.login{width:330px;float:right;}
nav{width:100%; background:#c00;float:left;margin-top:20px;height:35px;line-height:35px;}
nav div{width:1200px;margin:0px auto;font-size:14px;font-weight:bold;}
nav a{color:#fff; display:block;float:left;margin-right:30px;width:100px; text-align:center}
nav a:hover{color:#fff; background:#900}
nav .on{color:#fff; background:#900}


.maintop{float:left;width:100%;}
#preview{width:500px;}
.jqzoom{ width:500px; height:500px; position:relative;}

.zoomdiv{ left:859px; height:400px; width:400px;}
.list-h li{ float:left;}
#spec-n5{width:520px; height:56px; padding-top:6px; overflow:hidden;}
#spec-left{ background:url(../images/left.gif) no-repeat; width:10px; height:45px; float:left; cursor:pointer; margin-top:5px;}
#spec-right{background:url(../images/right.gif) no-repeat; width:10px; height:45px; float:left;cursor:pointer; margin-top:5px;}
#spec-list{width:325px; float:left; overflow:hidden; margin-left:2px; display:inline;}
#spec-list ul li{ float:left; margin-right:0px; display:inline; width:62px;}
#spec-list ul li img{ padding:2px ; border:1px solid #ccc; width:50px; height:50px;}

/*jqzoom*/
.jqzoom{position:relative;padding:0;}
.zoomdiv{z-index:100;position:absolute;top:1px;left:0px;width:400px;height:400px;background:url(i/loading.gif) #fff no-repeat center center;border:1px solid #e4e4e4;display:none;text-align:center;overflow: hidden;}
.bigimg{width:800px;height:800px;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:50px;height:50px;border:1px solid #aaa;background:#FEDE4F 50% top no-repeat;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(Opacity=50);cursor:move;}
#spec-list{ position:relative; width:465px; margin-right:6px;}
#spec-list div{ margin-top:0;margin-left:-30px; *margin-left:0;}

/*商品详细页*/
.tab{ line-height:56px; font-size:14px;}
.tab a{ color:#07c;}
.tab a:hover{ color:#c00;}
.tab a.cur{ font-weight:bold;}

/*iteminfo*/
.iteminfo{}
.iteminfo_tit{ color:#333; font-size:22px; font-weight:normal; padding-bottom:12px; line-height:32px;}
.iteminfo_parameter{ padding:8px 0; padding-left:70px;}
.iteminfo_parameter_default{ color:#888;}
.iteminfo_parameter dt{ margin-left:-70px; float:left; display:inline; width:60px; white-space:nowrap; text-align:right; color:#888;}

.iteminfo_mktprice{ font-size:12px; font-family:Arial, Helvetica, sans-serif; text-decoration:line-through;}
.lh32{ line-height:32px;}
.iteminfo_price{ color:#c00; font-size:14px; font-family:Arial, Helvetica, sans-serif; vertical-align:middle;}
.sys_item_price{ color:#c00; font-size:22px; vertical-align:middle;}
.iteminfo_buying{ background:#f7f7f7; padding:12px 0;}

/*规格*/
.sys_item_spec{margin-top:100px;}
.sys_item_spec dl.iteminfo_parameter{ padding-top:5px; padding-bottom:5px;}
.sys_item_spec dl.iteminfo_parameter dt{ line-height:32px;}

.J_jain{margin-top:30px;width:100%;float:left;margin-left:30px;}
.main_r_bottom{margin-left:30px;width:100%;float:left;margin-top:30px;}

.sys_spec_text{}
.sys_spec_text li{ float:left; height:28px; position:relative; margin:2px 6px 2px 0; outline:none;}
.sys_spec_text li a{ height:24px; padding:1px 6px; border:1px solid #ccc; background:#fff; display:inline-block; line-height:24px;}
.sys_spec_text li a:hover{ border:2px solid #e4393c; padding:0 5px; text-decoration:none;}
.sys_spec_text li i{ position:absolute; width:10px; height:10px; font-size:0; line-height:0; right:2px; bottom:2px; background:url(img/sys_item_selected.gif) no-repeat right bottom; z-index:99; display:none;}
.sys_spec_text li.selected a{ border:2px solid #e4393c; padding:0 5px;}
.sys_spec_text li.selected i{ display:block;}

.slideTxtBoxput{ width:100%; float:left;margin-top:30px;border:1px solid #ddd; text-align:left;  }
.slideTxtBoxput .hd{ height:50px; line-height:50px; background:#f4f4f4; padding:0 20px; border-bottom:1px solid #ddd;  position:relative;  }
.slideTxtBoxput .hd ul{ float:left; position:absolute; left:20px; top:-1px; height:32px;   }
.slideTxtBoxput .hd ul li{ float:left; padding:0 43px; cursor:pointer; font-size:16px;}
.slideTxtBoxput .hd ul li.on{ height:50px;color:#c00;font-weight:bold;background:#fff; border:1px solid #ddd; border-bottom:2px solid #fff; }
.slideTxtBoxput .bd{}
.slideTxtBoxput .bd ul{ padding:15px;  zoom:1;  }
.slideTxtBoxput .bd li{ }
.slideTxtBoxput .bd li .date{ float:right; color:#999;  }
